ApiTranslator/ApiTranslator/ApiTranslator-00/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "stylesheetStorageConnection": {
        "type": "string",
        "defaultValue": ""
      },
      "partnerConfigConnection": {
        "type": "string", 
        "defaultValue": ""
      }
    },
    "staticResults": {},
    "triggers": {
      "When_a_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "POST",
          "schema": {
            "type": "object",
            "properties": {}
          }
        }
      }
    },
    "actions": {
      "Initialize_Variables": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "tradingPartnerId",
              "type": "string",
              "value": "@{triggerOutputs()['headers']['trading-partner-id']}"
            },
            {
              "name": "documentType", 
              "type": "string",
              "value": "@{triggerOutputs()['headers']['document-type']}"
            },
            {
              "name": "contentType",
              "type": "string", 
              "value": "@{triggerOutputs()['headers']['content-type']}"
            },
            {
              "name": "acceptType",
              "type": "string",
              "value": "@{triggerOutputs()['headers']['accept']}"
            },
            {
              "name": "requestBody",
              "type": "string",
              "value": "@{triggerBody()}"
            },
            {
              "name": "xmlDocument",
              "type": "string",
              "value": ""
            },
            {
              "name": "transformedDocument",
              "type": "string", 
              "value": ""
            },
            {
              "name": "stylesheetContent",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "Validate_Required_Headers": {
        "type": "Condition",
        "expression": {
          "and": [
            {
              "not": {
                "equals": [
                  "@variables('tradingPartnerId')",
                  ""
                ]
              }
            },
            {
              "not": {
                "equals": [
                  "@variables('documentType')",
                  ""
                ]
              }
            },
            {
              "not": {
                "equals": [
                  "@variables('contentType')",
                  ""
                ]
              }
            },
            {
              "not": {
                "equals": [
                  "@variables('acceptType')",
                  ""
                ]
              }
            }
          ]
        },
        "actions": {
          "Check_Content_Type": {
            "type": "Switch",
            "expression": "@toLower(variables('contentType'))",
            "cases": {
              "JSON": {
                "case": "application/json",
                "actions": {
                  "Convert_JSON_to_XML": {
                    "type": "Compose",
                    "inputs": "@xml(json(variables('requestBody')))",
                    "runAfter": {}
                  },
                  "Set_XML_Document_from_JSON": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "xmlDocument",
                      "value": "@{outputs('Convert_JSON_to_XML')}"
                    },
                    "runAfter": {
                      "Convert_JSON_to_XML": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              },
              "XML": {
                "case": "application/xml",
                "actions": {
                  "Set_XML_Document_Direct": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "xmlDocument",
                      "value": "@variables('requestBody')"
                    },
                    "runAfter": {}
                  }
                }
              },
              "TEXT_XML": {
                "case": "text/xml",
                "actions": {
                  "Set_XML_Document_Direct_Text": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "xmlDocument", 
                      "value": "@variables('requestBody')"
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "default": {
              "actions": {
                "Return_Unsupported_Content_Type": {
                  "type": "Response",
                  "inputs": {
                    "statusCode": 400,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "error": "Unsupported content type",
                      "message": "Content-Type must be application/json, application/xml, or text/xml",
                      "received": "@variables('contentType')"
                    }
                  },
                  "runAfter": {}
                }
              }
            },
            "runAfter": {}
          },
          "Lookup_Trading_Partner_Config": {
            "type": "Http",
            "inputs": {
              "method": "GET",
              "uri": "@concat('https://your-config-api.azurewebsites.net/api/partners/', variables('tradingPartnerId'), '/documents/', variables('documentType'))",
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "runAfter": {
              "Check_Content_Type": [
                "Succeeded"
              ]
            }
          },
          "Check_Partner_Config_Response": {
            "type": "Condition",
            "expression": {
              "equals": [
                "@outputs('Lookup_Trading_Partner_Config')['statusCode']",
                200
              ]
            },
            "actions": {
              "Parse_Partner_Config": {
                "type": "ParseJson",
                "inputs": {
                  "content": "@body('Lookup_Trading_Partner_Config')",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "tradingPartnerId": {
                        "type": "string"
                      },
                      "documentType": {
                        "type": "string"
                      },
                      "stylesheetName": {
                        "type": "string"
                      },
                      "stylesheetPath": {
                        "type": "string"
                      },
                      "isActive": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "runAfter": {}
              },
              "Fetch_Stylesheet": {
                "type": "Http", 
                "inputs": {
                  "method": "GET",
                  "uri": "@body('Parse_Partner_Config')['stylesheetPath']",
                  "headers": {
                    "Content-Type": "application/xml"
                  }
                },
                "runAfter": {
                  "Parse_Partner_Config": [
                    "Succeeded"
                  ]
                }
              },
              "Set_Stylesheet_Content": {
                "type": "SetVariable",
                "inputs": {
                  "name": "stylesheetContent",
                  "value": "@{body('Fetch_Stylesheet')}"
                },
                "runAfter": {
                  "Fetch_Stylesheet": [
                    "Succeeded"
                  ]
                }
              },
              "Transform_Document": {
                "type": "Xslt",
                "inputs": {
                  "content": "@variables('xmlDocument')",
                  "map": "@variables('stylesheetContent')"
                },
                "runAfter": {
                  "Set_Stylesheet_Content": [
                    "Succeeded"
                  ]
                }
              },
              "Set_Transformed_Document": {
                "type": "SetVariable",
                "inputs": {
                  "name": "transformedDocument",
                  "value": "@{body('Transform_Document')}"
                },
                "runAfter": {
                  "Transform_Document": [
                    "Succeeded"
                  ]
                }
              },
              "Check_Accept_Type": {
                "type": "Switch",
                "expression": "@toLower(variables('acceptType'))",
                "cases": {
                  "JSON": {
                    "case": "application/json",
                    "actions": {
                      "Convert_XML_to_JSON": {
                        "type": "Compose",
                        "inputs": "@json(xml(variables('transformedDocument')))",
                        "runAfter": {}
                      },
                      "Return_JSON_Response": {
                        "type": "Response",
                        "inputs": {
                          "statusCode": 200,
                          "headers": {
                            "Content-Type": "application/json",
                            "Trading-Partner-Id": "@variables('tradingPartnerId')",
                            "Document-Type": "@variables('documentType')"
                          },
                          "body": "@outputs('Convert_XML_to_JSON')"
                        },
                        "runAfter": {
                          "Convert_XML_to_JSON": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  },
                  "XML": {
                    "case": "application/xml",
                    "actions": {
                      "Return_XML_Response": {
                        "type": "Response",
                        "inputs": {
                          "statusCode": 200,
                          "headers": {
                            "Content-Type": "application/xml",
                            "Trading-Partner-Id": "@variables('tradingPartnerId')",
                            "Document-Type": "@variables('documentType')"
                          },
                          "body": "@variables('transformedDocument')"
                        },
                        "runAfter": {}
                      }
                    }
                  },
                  "TEXT_XML": {
                    "case": "text/xml",
                    "actions": {
                      "Return_Text_XML_Response": {
                        "type": "Response",
                        "inputs": {
                          "statusCode": 200,
                          "headers": {
                            "Content-Type": "text/xml",
                            "Trading-Partner-Id": "@variables('tradingPartnerId')",
                            "Document-Type": "@variables('documentType')"
                          },
                          "body": "@variables('transformedDocument')"
                        },
                        "runAfter": {}
                      }
                    }
                  }
                },
                "default": {
                  "actions": {
                    "Return_Unsupported_Accept_Type": {
                      "type": "Response",
                      "inputs": {
                        "statusCode": 400,
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "error": "Unsupported Accept type",
                          "message": "Accept header must be application/json, application/xml, or text/xml",
                          "received": "@variables('acceptType')"
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {
                  "Set_Transformed_Document": [
                    "Succeeded"
                  ]
                }
              }
            },
            "else": {
              "actions": {
                "Return_Partner_Config_Not_Found": {
                  "type": "Response",
                  "inputs": {
                    "statusCode": 404,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "error": "Trading partner configuration not found",
                      "message": "No configuration found for the specified trading partner and document type",
                      "tradingPartnerId": "@variables('tradingPartnerId')",
                      "documentType": "@variables('documentType')"
                    }
                  },
                  "runAfter": {}
                }
              }
            },
            "runAfter": {
              "Lookup_Trading_Partner_Config": [
                "Succeeded",
                "Failed"
              ]
            }
          }
        },
        "else": {
          "actions": {
            "Return_Missing_Headers": {
              "type": "Response",
              "inputs": {
                "statusCode": 400,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "error": "Missing required headers",
                  "message": "The following headers are required: trading-partner-id, document-type, content-type, accept",
                  "received": {
                    "tradingPartnerId": "@variables('tradingPartnerId')",
                    "documentType": "@variables('documentType')",
                    "contentType": "@variables('contentType')",
                    "acceptType": "@variables('acceptType')"
                  }
                }
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Initialize_Variables": [
            "Succeeded"
          ]
        }
      }
    },
    "outputs": {}
  },
  "kind": "Stateless"
}